<html>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles.css">
    <body>
        <div class="container">
            <div class="intern">
                <form method="post" action=""> 
                    <h2>Login</h2> 
                    <p> 
                    <label for="email_login">E-mail: </label>
                    <input id="email_login" name="email_login" required="required" type="text"/>
                    </p>
                    
                    <p>
                    <label for="pass_login">Senha: </label>
                    <input id="pass_login" name="pass_login" required="required" type="password">
                    </p>
                    
                    <p> 
                    <input type="submit" value="Logar" /> 
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>